<div data-role="page" data-theme="b">

  <div data-role="header" data-position="inline">
    <h1>アラート機能</h1>
  </div>

  <div data-role="content">
    <a href="<%= url_for :action => :popup %>" data-role="button" >ポップアップアラート表示</a>
    <a href="<%= url_for :action => :vibrate %>" data-role="button" >端末をバイブレートさせる(5秒)</a>
  </div>

</div>
